@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
header {
  background-image: linear-gradient(black, rgb(37, 37, 37));
}

.nav-link {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link:hover {
  text-decoration: underline;
  color: rgb(195, 169, 139);
}

nav {
  height: 65px;
}

.nav_logo {
  height: 65px;
  width: auto;
}

nav .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 768px) {
  .menu {
    background-image: linear-gradient(black, rgb(37, 37, 37));
    z-index: 1;
  }
}
main {
  box-sizing: content-box;
}

body {
  font-family: "Abel", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

body {
  height: 100vh;
}

span {
  color: rgb(195, 169, 139);
}

.fondoHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bathroom.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.fondoHome .home_titulo h1 {
  font-size: 100px;
  position: relative;
  z-index: 1;
  color: white;
}

.nosotros {
  background-color: rgb(37, 37, 37);
}
.nosotros .living {
  width: 400px;
}
.nosotros .texto_nos {
  width: 650px;
  padding-right: 5rem;
  color: white;
}

.proyectos {
  background-color: rgb(37, 37, 37);
}

.cards {
  justify-content: space-evenly;
}

.card {
  padding: 0;
  border: none;
  background-color: rgb(135, 116, 94);
  width: 320px;
  text-align: center;
}

.contact {
  background-color: rgb(37, 37, 37);
  color: white;
}
.contact .texto_cont {
  padding-right: 3rem;
  width: 470px;
}
.contact .space {
  width: 20rem;
  box-shadow: -4px 4px 10px -1px rgba(0, 0, 0, 0.68);
}
.contact .formulario {
  width: 400px;
}
.contact .formulario .form, .contact .formulario textarea {
  width: 330px;
  background-color: rgb(48, 48, 48);
  color: white;
  border: none;
  box-shadow: -4px 4px 10px -1px rgba(0, 0, 0, 0.68);
  margin-bottom: 1.5rem;
}
.contact .formulario textarea {
  height: 150px;
}
.contact .mapa {
  width: 100%;
  height: 300px;
  margin-top: 6rem;
}

.premios {
  background-color: rgb(37, 37, 37);
  color: white;
}
.premios .text_prem {
  padding-left: 10rem;
  padding-right: 10rem;
}
.premios .img_premios img {
  width: 400px;
  height: 450px;
}

@media (max-width: 768px) {
  .home_titulo h1 {
    font-size: 50px;
  }
  .mobile {
    flex-direction: column;
    align-items: center;
  }
  .mobile .texto_nos {
    padding: 1.5rem;
    text-align: center;
    width: auto;
  }
  .mobile .living {
    width: 350px;
  }
  .card {
    margin-bottom: 2rem;
  }
  .card .proy_boton {
    transform: translateY(0px);
  }
  .premios .text_prem {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .premios .premio {
    width: 350px;
  }
  .mobileContact {
    text-align: center;
  }
  .mobileContact .texto_cont {
    width: auto;
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 3rem;
  }
  .mobileContact .cont_boton, .mobileContact .proy_boton {
    margin-bottom: 5rem;
  }
}
footer {
  background-image: linear-gradient(to top, black, rgb(37, 37, 37));
  height: 60px;
}

footer h3 {
  font-size: 20px;
  color: white;
  justify-content: space-between;
}

.rrss {
  width: 60px;
  height: 40px;
}

.home_boton a, .nos_boton a {
  background-color: rgb(195, 169, 139);
  color: black;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: -4px 4px 10px -1px rgba(0, 0, 0, 0.68);
}

.home_boton {
  text-align: center;
  z-index: 1;
  margin-top: 2.5rem;
}

.navbar-toggler {
  background-color: rgb(195, 169, 139);
}

.cont_boton, .proy_boton {
  background-color: rgb(184, 156, 130);
  border: none;
  border-radius: 10px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
  box-shadow: -4px 4px 10px -1px rgba(0, 0, 0, 0.68);
}

.proy_boton {
  transform: translateY(-70px);
}

.living {
  width: 400px;
  height: auto;
  transition: all 2s;
}

.living:hover {
  box-shadow: -4px 4px 10px -1px rgba(0, 0, 0, 0.68);
}

.casa1, .casa2, .casa3 {
  width: 400px;
  height: auto;
  transition: all 2s;
}

.casa1:hover, .casa2:hover, .casa3:hover {
  box-shadow: -4px 4px 10px -1px rgba(0, 0, 0, 0.68);
  filter: brightness(50%);
}

/*# sourceMappingURL=style.css.map */
