.living{width: 400px;height: auto;transition: height 1s, width 2s,}
.living:hover{width: 420px;height: auto;}


// .blanco{width: 400px;height: auto;transition: height 1s, width 2s,}
// .blanco:hover{width: 420px;height: auto;}