// home y nosotros
.home_boton a, .nos_boton a{
    background-color: $boton1;
    color: black;
    padding-left: 2.5rem;padding-right: 2.5rem;padding-bottom: 0.5rem;padding-top: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: $sombra;
}
.home_boton{
    text-align: center;
    z-index: 1;
    margin-top: 2.5rem;
}




// proyectos
.navbar-toggler{background-color: rgb(195, 169, 139);}



// contacto y proyectos
.cont_boton, .proy_boton{
    background-color: $boton2;
    border: none;
    border-radius: 10px;
    padding-left: 1.5rem;padding-right: 1.5rem;padding-bottom: 0.5rem;padding-top: 0.5rem;
    text-decoration: none;
    box-shadow: $sombra;
}