header{background-color: black;}
.nav-link{color: white;margin-left: 15px;margin-right: 15px;}
.nav-link:hover{text-decoration: underline;color: rgb(195, 169, 139);}
nav{height: 65px;}
.nav_logo{height: 65px;width: auto;}
nav .container-fluid{padding-left: 50px;padding-right: 50px;}

@media (max-width:768px){
    .menu{background-color: black;}
}