// general
main{box-sizing: content-box;}
body{font-family: 'Abel', sans-serif;}
img{max-width: 100%;max-height: 100%;}
.row{margin-right: 0;margin-left: 0;}
body{height: 100vh;}
span{color: $boton1;} // palabras resaltadas

// home
.fondoHome{
    display: flex; flex-direction: column;align-items: center;
    background-image: url(../img/bathroom.jpg);
    width: 100%;height: 100vh;
    background-size: cover;
    background-position: center;   
}
.home_titulo h1{    
    font-size: 100px;
    color: $font;
}

// nosotros
.nosotros{
    background-color: $bg-principal;
    .living{width: 400px;}
    .texto_nos{
        width: 650px;
        padding-right: 5rem;
        color: $font;
    }
}

// proyectos
.proyectos{background-color: $bg-principal;}
.cards{justify-content: space-evenly;}
.card{
    padding: 0;
    border: none;
    background-color: $fondo-cards;
    width: 320px;
    text-align: center;
}

// contacto
.contact{
    background-color: $bg-principal;
    color: $font;
    .texto_cont{
        padding-right: 3rem;
        width: 470px;
    }
    .space{
        width: 20rem;
        box-shadow: $sombra
    }
    .formulario{
        width: 400px;
        .form{
            width: 330px;
            background-color: rgb(48, 48, 48);
            color: white;
            border: none;
            box-shadow: $sombra;
            margin-bottom: 1.5rem;
        }
        textarea{
            @extend .form;
            height: 150px;
        }
    }
    .mapa{
        width: 100%;height: 300px;
        margin-top: 6rem;
    }
}

// premios
.premios{
    background-color: $bg-principal;
    color: $font;
    .text_prem{padding-left: 10rem;padding-right: 10rem;}
    .img_premios img{width: 400px;height: 450px;}
}

// VISTA MOBILE
@media (max-width:768px){
    .home_titulo h1{font-size: 50px;}
    .mobile{
    flex-direction: column;
    align-items: center;
    .texto_nos{
        padding: 1.5rem;
        text-align: center;
        width: auto;
    }
    .living{width: 350px;}
    }
    .card{
    margin-bottom: 2rem;
    .proy_boton{transform: translateY(0px);}
    }
    .premios{
    .text_prem{padding-left: 1.5rem;padding-right: 1.5rem;}
    .premio{width: 350px;}
    }
    .mobileContact{
    text-align: center;
    .texto_cont{width: auto;padding: 1.5rem;padding-top: 0;padding-bottom: 3rem;}
    .cont_boton{margin-bottom: 5rem;}
    }
}